.header {
  height: 80px;
  border-bottom: 1px solid $color-very-light-gray;

  &--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $gap-93;
    height: inherit;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  width: 100%;
}

.nav {
  &__logo {
    font-size: $font-size-26;
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
    line-height: $line-height-31;
    letter-spacing: $letter-spacing-03;

    &--accent {
      color: $color-accent;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap-46;
  }

  &__link {
    position: relative;
    font-size: $font-size-14;
    font-weight: $font-weight-light;
    font-family: $font-family-primary;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-02;
    color: $color-primary;
    transition: color 250ms $trans-func;

    &:hover,
    &:focus {
      color: $color-accent;
    }

    &::after {
      position: absolute;
      content: '';
      display: block;
      bottom: -31px;
      right: 0;
      width: 0;
      height: 5px;
      background-color: $color-accent;
      border-radius: $border-r-4;
      transition: width 250ms $trans-func;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
      left: 0;
    }

    &--active {
      color: $color-accent;

      &::after {
        position: absolute;
        content: '';
        display: block;
        bottom: -31px;
        right: 0;
        width: 100%;
        height: 5px;
        background-color: $color-accent;
        border-radius: $border-r-4;
      }
    }
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;

  &__link {
    display: flex;
    align-items: center;
    color: $color-secondary;
    fill: $color-secondary;
    font-size: $font-size-14;
    font-weight: $font-weight-light;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-02;
    gap: $gap-10;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: $trans-func;

    &:hover,
    &:focus {
      color: $color-accent;
      fill: $color-accent;
    }
  }
}

.hide-for-mobile {
  display: none;
}

.hide-for-desktop {
  display: block;
}

.open {
  .hamburger-lines {
    > span:first-child {
      transform: rotate(45deg);
    }
    > span:nth-child(2) {
      opacity: 0;
    }
    > span:last-child {
      transform: rotate(-45deg);
    }
  }
}

.hamburger-lines {
  display: block;
  height: 21px;
  width: 24px;
  position: relative;
  // top: 20px;
  // right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  transition: transform 250ms $trans-func, opacity 200ms $trans-func, background-color 250ms $trans-func;

  &:hover .line {
    background: $color-accent;
  }

  .line {
    display: block;
    height: 2.6px;
    width: 108%;
    border-radius: 10px;
    transform-origin: 3px 1px;
    margin-bottom: 3px;
    background: $color-primary;
  }

  .line1 {
    transform-origin: 10% 213%;
    transition: transform 0.3s ease-in-out;
  }

  .line2 {
    transition: transform 0.1s ease-in-out;
  }

  .line3 {
    transform-origin: 23% -33%;
    transition: transform 0.3s ease-in-out;
  }
}

.hamburgerOpen {
  position: fixed;
  right: 15px;
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  z-index: 99;
  overflow: hidden;
  transition: transform 250ms $trans-func;
}

@media screen and (min-width: 768px) {
  .hide-for-mobile {
    display: flex;
  }

  .hide-for-desktop {
    display: none;
  }
}

@media screen and (min-width: 930px) {
  .contact {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
  }
}
